body {
 margin: 0 0 0 0;
 padding: 30px 0 0 0;
 width:100%;
 height: 100%;
 font-family:"aktiv-grotesk",sans-serif;
 line-height:18px;
 color:#000;
 text-align:left;
 background-color:#fff;
 font-size:12px;

}

.startseite {
 width: 100%;
 height: 100%,
}


a{
  text-decoration: none;
}
/*.wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}*/

.main-header{
  height: 20%;
  width: 100%;
  background: #fff;
  display: block;
  margin: 0 auto;
}

.navbar {
    width:100%;
    height: auto;
    text-align: center;
    margin:0 0 0 -293.5px;
    padding:50px 0 0 0;
}

.navbar li{
  width: auto;
  /*float:left;*/
  list-style: none;
  display: inline-block;
}

.navbar li a{
  width: auto;
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color:black;
  border-bottom: 1px solid;
  display: block;
  padding: 10px 0 7px 0;;
  margin: 0px 30px;
  float: left;
}

.about {
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color:black;
  padding: 15px 25px 0 0;
  /*top: 30px;*/
  right: 0px;
  text-align: right;
  position: fixed;
  z-index:5;
  -moz-transform:rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  -webkit-transform:rotate(-90deg); /* Safari */
  -o-transform:rotate(-90deg); /* Opera */
  -ms-transform:rotate(-90deg); /* IE9 */
  transform:rotate(-90deg); /* W3C */
}
.about a {
  text-decoration:none;
  color:#000;
  font-family:"aktiv-grotesk",sans-serif;
  letter-spacing:1px;
}
.about a:hover {
  color: #b9c4ff;
  font-size:18px;
}

.work {
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  bottom: 30px;
  left: 30px;
  text-align: right;
  position: fixed;
  z-index:5;
}
.work a {
  text-decoration:none;
  color:#000;
  font-family:"aktiv-grotesk",sans-serif;
  letter-spacing:1px;

}
.work a:hover {
  color: #b9c4ff;
  font-size:18px;
}

.contact {
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  bottom: 30px;
  right: 30px;
  text-align: right;
  position: fixed;
  z-index:5;
}
.contact a {
  text-decoration:none;
  color:#000;
  font-family:"aktiv-grotesk",sans-serif;
  letter-spacing:1px;

}
.contact a:hover {
  color: #b9c4ff;
  font-size:18px;
}


.startbild{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 1091px;
   height: 787px;
   margin-top: -393.5px; /* Halbe height */
   margin-left: -545.5px; /* halbe width */
}

.loading_bild{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 554px;
   margin-top: -277px; /* Halbe height */
   margin-left: -250px; /* halbe width */
}
.loading_bild:hover{
  width: 520px;
  height: 574px;
  margin-top: -287px; /* Halbe height */
  margin-left: -260px; /* halbe width */
}
}


}

container {
  height: 100%;
  overflow-x: scroll;
}

/*logo*/
.logo{
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:300px;
  height:253px;
  padding:0 0 0 0;
  margin:-6px 0 0 10px;
}
/*navigation_work*/
.ulist1{
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:300px;
  height:253px;
  padding:0 0 0 0;
  margin:350px 0 0 307px;
}
li a:hover{
  color: #5a77c2;
  font-style:italic;
}
.ulist2{
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:300px;
  height:253px;
  padding:0 0 0 0;
  margin:400px 0 0 208px;
}

.ulist3{
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:300px;
  height:253px;
  padding:0 0 0 0;
  margin:295px 0 0 390px;
  -moz-transform:rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  -webkit-transform:rotate(-90deg); /* Safari */
  -o-transform:rotate(-90deg); /* Opera */
  -ms-transform:rotate(-90deg); /* IE9 */
  transform:rotate(-90deg); /* W3C */
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

li a {
    font-family:"aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*about text*/

.about_text {
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:500px;
  height:253px;
  padding:0 0 0 0;
  margin:245px 0 0 670px;
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  line-height:1.3;
}
.about_text a{
  font-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #5a77c2;
  text-decoration: none;
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  padding:0 0 0 0;
  margin:3px 0 0 -25px;
  -moz-transform:rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  -webkit-transform:rotate(-90deg); /* Safari */
  -o-transform:rotate(-90deg); /* Opera */
  -ms-transform:rotate(-90deg); /* IE9 */
  transform:rotate(-90deg); /* W3C */
}

/*contact*/
.contact_list {
  margin:6px 28% 0 15px;
  z-index:1;
  position:fixed;
  width:300px;
  height:253px;
  padding:0 0 0 0;
  margin:138px 0 0 670px;
  ont-family:"aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.3;

}

/*illustration gallery*/
.bildeins {
  right:0;
  top:50px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;

}
.bildeins_2 {
  right:0;
  top:50px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;

}

.bildzwei {
  top:400px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;

}
.bildzwei_2 {
  top:400px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;

}

.bilddrei {
  right: 250px;
  top:760px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;

}
.bilddrei_2 {
  right: 250px;
  top:760px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;

}

.bildvier {
  right: 60px;
  top:1215px;
  position:absolute;
  display:block;
  width: auto;
  height: 400px;

}
.bildvier_2 {
  right: 0px;
  top:1265px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;

}

.bildfuenf {
  top:1470px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}
.bildfuenf_2 {
  top:1470px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}


.bildsechs {
  right:0;
  top:1826px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}
.bildsechs_2 {
  right:20px;
  top:1826px;
  position:absolute;
  display:block;
  width: auto;
  height: 800px;
}

.bildsieben {
  top:2150px;
position:absolute;
display:block;
width: 736px;
height: auto;
}
.bildsieben_2 {
  top:2150px;
  position:absolute;
  display:block;
  width: 736px;
  height: auto;
}

.bildacht {
  right: 30px;
  top:2450px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}
.bildacht_2 {
  right: 250px;
  top:2280px;
  position:absolute;
  display:block;
  width: 400px;
  height: auto;
}

.bildneun {
  top:2900px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}
.bildneun_2 {
  right:10px;
  top:2640px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}

.bildzehn {
  right: 90px;
  top:3380px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}
.bildzehn_2 {
  right: 300px;
  top:3150px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}

.bildelf {
  right: 0;
  top:3810px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}
.bildelf_2 {
  right: 0;
  top:3660px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}

.bildzwolf {
  top:4170px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}
.bildzwolf_2 {
  right:100px;
  top:4020px;
  position:absolute;
  display:block;
  width: auto;
  height: 800px;
}

.bilddreizehn {
  right: 0;
  top:4490px;
  position:absolute;
  display:block;
  width: auto;
  height: 600px;
}
.bilddreizehn_2 {
  right: 200px;
  top:4460px;
  position:absolute;
  display:block;
  width: 600px;
  height: auto;
}
.construction {
  right:15px;
  top:150px;
  position:absolute;
  display:block;
  width: auto;
  height: 300px;

}


/*CV*/
